.vscode/**
.vscode-test/**
.github/**
.claude/**
src/**
test/**
out/**
out-test/**
node_modules/**
.gitignore
.gitattributes
.eslintrc*
.eslintignore
.mocharc.json
tsconfig.json
tsconfig.test.json
esbuild.js
package-lock.json
**/*.map
**/*.ts
!dist/**/*.js
docs/**
c:Users*/**
README.dev.md
CHANGELOG.dev.md
